<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<head>
<th:block th:include="fragments/common :: head(title='Location')"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>

	<div class="error" id="error" th:unless=${message==null}>
		<span th:text="${message}"></span>
	</div>

	<div class="container">
		<div class="card" style="padding: 20px;">
			<div class="container">
				<div class="wrapper row">
					<div class="col">
						<div class="row">
							<span><b> Unallocated reservations </b></span>
						</div>
						<div
							th:replace="booking/list :: list-booking(bookings=${bookings})"></div>
						<div class="row"
							style="border-bottom: 3px #e8e8e8 solid; margin: 5px;"></div>
						<div class="row">
							<div class="preview col-md-6">
								<div>
									<span th:inline="text"> <b>Restaurant occupancy:</b>
										[[${occupied}]]/[[${capacity}]]
									</span>
								</div>
								<div>
									<span th:inline="text"> <b>Free tables:</b>
										[[${freeTables}]]/[[${totalTables}]]
									</span>
								</div>
								<div th:if="${estimate!=null}">
									<b>Estimated wait:</b>&nbsp;<span th:text="${estimate}"></span>
								</div>
								<div th:if="${estimate==null}">
									<span>Table available right now</span>
								</div>
								<!-- CREATE TABLE -->
								<div>
									<a
										th:href="@{/table/establishment/{id}/add(id=${establishment.id})}">Create
										table</a>
								</div>
							</div>
						</div>
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<th>Table</th>
										<th>Hour seated</th>
										<th>Capacity</th>
										<th>Occupants</th>
										<th>Reservation</th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="table : ${tables}">
										<tr>
											<td><input type="number" class="count" name="num"
												th:value="${table.number}" th:form="form + ${table.id}">
											</td>
											<td
												th:text="${#temporals.format(table.hourSeated,'dd-MM-yyyy HH:mm')}"></td>
											<!-- CAPACITY -->
											<td><input type="number" class="count" name="cap"
												th:value="${table.seating}" th:form="form + ${table.id}">
											</td>
											<!-- OCCUPANTS -->
											<td><input type="number" class="count" name="oc"
												th:value="${table.occupied}" th:form="form + ${table.id}">
											</td>
											<!-- RESERVATION -->
											<td><select name="bookingId"
												th:form="form + ${table.id}">
													<option th:if="${table.booking != null}"
														th:value="${table.booking.id}"
														th:utext="${#temporals.format(table.booking.reservationDate,'dd-MM-yyyy HH:mm')}"></option>
													<option th:if="${table.booking != null}" value="">--</option>
													<option th:if="${table.booking == null}" value="">--</option>
													<option th:each="booking : ${bookings}"
														th:value="${booking.id}"
														th:if="${table.seating gt booking.seating}"
														th:utext="${#temporals.format(booking.reservationDate,'dd-MM-yyyy HH:mm')}" />
											</select></td>
											<!-- SEAT -->
											<td><a th:href="@{/table/{id}/unseat(id=${table.id})}"
												th:if="${table.hourSeated != null}">Unseat</a> <a
												th:href="@{/table/{id}/seat(id=${table.id})}"
												th:if="${table.hourSeated == null}">Seat</a></td>
											<td>
												<form th:id="form + ${table.id}" method="get"
													th:action="@{/table/{id}/modify(id=${table.id})}">
													<input type="submit" value="save" />
												</form>
											</td>
											<td><a th:href="@{/table/{id}/delete(id=${table.id})}"><i
													class="fa fa-times" aria-hidden="true"></i></a></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>