<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<head>
<th:block th:include="fragments/common :: head(title='Location')"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>

	<div class="error" id="error" th:unless=${message==null}>
		<span th:text="${message}"></span>
	</div>

	<div class="container">
		<div class="card">
			<div class="container-fluid" style="position: center; left: 20px;">
				<div class="wrapper row">
					<div class="preview col-">

						<div class="wrapper row">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Name</th>
										<th>Description</th>
										<th>Score</th>
										<th>Price</th>
										<th>Allergens</th>

										<th
											sec:authorize="hasAnyAuthority('COOK','ADMIN','MANAGER','WAITER')">Actions</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:object="${dish}">
										<tr>
											<!-- IMAGE -->
											<td>
												<div style="width: 140px;">
													<img class="img-thumbnail" th:src="${dish.picture}" />
												</div>
											</td>
											<!-- NAME -->
											<td th:inline="text"><b>[[${dish.name}]]</b></td>
											<!-- DESCRIPTION -->
											<td th:text="${dish.description}"></td>
											<!-- SCORE -->
											<td>
												<div
													th:replace="fragments/score :: stars(score=${dish.score})"></div>
											</td>
											<!-- PRICE -->
											<td th:inline="text">[[${dish.price}]]€</td>
											<!-- ALLERGENS -->
											<td>
												<div class="row">
													<th:block th:each="allergen : ${dish.allergens}">
														<div style="width: 70px;">
															<img class="img-thumbnail" th:src="${allergen.icon}" />
														</div>
													</th:block>
												</div>
											</td>
											<!-- ADD TO ORDER -->


											<!-- ACTIONS; only for employees -->
											<td
												sec:authorize="hasAnyAuthority('COOK','ADMIN','MANAGER','WAITER')"><a
												th:href="@{/dishes/{dishId}/edit(dishId=${dish.id})}"><i
													class="fa fa-info" aria-hidden="true"></i></a> <a
												th:href="@{/dishes/delete/{dishId}(dishId=${dish.id})}"><i
													class="fa fa-times" aria-hidden="true"></i></a></td>
										</tr>
									</th:block>
								</tbody>
							</table>

						</div>

						<div>
							<a>Write your own review (must be logged in)</a>
							<form enctype="multipart/form-data"
								th:action="@{/dishes/savecomment/{dishId}(dishId=${dish.id})}"
								role="form" method="post">

								<label for="rating"> Rating </label> <input type="number"
									size="4" class="form-control" name="rating" min="1" max="5"
									th:field="${reviewComment.rating}">
								<ul>
									<li th:each="err : ${#fields.errors('reviewComment.rating')}"
										th:text="${err}" />
								</ul>


								<label for="comment">Comment:</label> <input id="comment"
									name="comment" type="text" th:field="${reviewComment.comment}"
									placeholder="Write a review">
								<ul>
									<li th:each="err : ${#fields.errors('reviewComment.comment')}"
										th:text="${err}" />
								</ul>


								<input type="submit" size="5" name="save" value="Post review" />

							</form>
						</div>

						<div class="table">
							<a> Reviews:</a> <br>
							<div th:each="review :${reviews}">
								<a th:text="${review.comment}"></a> (Review by: <a
									th:text="${review.actor.user.username}"> </a> )
								<div
									th:replace="fragments/score :: stars(score=${review.rating})"></div>
								<br> <br>

							</div>


						</div>



					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>