<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home page</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
	<header th:include="fragments/common :: navbar"></header>
	<div class="error" th:unless="${message==null}">
		<p th:text="${message}"></p>
	</div>
	<div class="square">
		<h1 class="square">Work with us!</h1>


		<div class="forma">


			<form enctype="multipart/form-data" role="form"
				th:action="@{/contact/save}" th:method="post"
				th:object="${contactForm}">


				<label for="name">Name and Surname</label> <input id="fullName"
					name="name" type="text"
					pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,128}"
					title="Please enter your first and last name correctly."
					placeholder="Input your Name and Surname" th:field="*{fullName}" />
				<ul>
					<li th:each="err : ${#fields.errors('fullName')}" th:text="${err}" />
				</ul>
				<br> <br> <label for="email">E-mail</label> <input
					id="email" name="email" type="text"
					pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
					placeholder="Input your email" th:field="*{email}" />
				<ul>
					<li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
				</ul>

				<br> <br> <input type="FILE" name="cv" th:field="*{cv}">
				<!--  
   			<span class="mi-archivo">
   			</span>
   			
   		
   		<label for="mi-archivo">
   			<span id ="up-boton">Upload your CV</span>
		
   		</label>
   		-->
				<ul>
					<li th:each="err : ${#fields.errors('cv')}" th:text="${err}" />
				</ul>

				<br> <br> <input type="submit" name="save" value="Upload" />
				<br>
			</form>

		</div>



	</div>

	<!--   
<script type="application/javascript">
var button = document.getElementById('up-boton');
var input  = document.getElementById('up-arch');

// Making input invisible, but leaving shown fo graceful degradation
input.style.display = 'none';
button.style.display = 'initial';

button.addEventListener('click', function (e) {
    e.preventDefault();
    
    input.click();
});

input.addEventListener('change', function () {
   button.innerText = this.value; 
});
</script>
-->
	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>