<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error page</title>
</head>
<body
	th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div class="page-wrap d-flex flex-row align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<span class="display-1 d-block"
						th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</span>
					<div class="mb-4 lead" th:text="${errorMessage}">The page you
						are looking for was not found.</div>
					<a th:href="@{/}" class="btn btn-link">Back to Home</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>