<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<th:block th:include="fragments/common :: head"></th:block>
<style>
.form-group {
	width: 50%;
}

#logincont {
	width: 50%;
	text-align: center;
}
</style>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>

	<div class="error" id="error" th:unless=${loginError==null}>
		<p>Wrong user or password</p>
	</div>

	<div class="container bg-dark text-white rounded h-150" id="logincont">
		<div class="d-flex justify-content-center">

			<form th:action="@{/login}" method="POST" class="mx-auto">
				<h2 class="display-1 m-4">Login</h2>
				<br>
				<div class="input-group form-group mx-auto">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fas fa-user"></i>
						</span>
					</div>
					<input type="text" class="form-control" placeholder="Username"
						title="username must be between 4 and 32 characters."
						name="username" required>

				</div>
				<div class="input-group form-group mx-auto">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fas fa-key"></i>
						</span>
					</div>
					<input type="password" class="form-control" placeholder="Password"
						name="password" required>
				</div>
				<div class="form-group mx-auto">
					<input type="submit" value="Login" class="btn btn-light">
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>