<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Spring Boot User Authentication</title>
<th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>

	<div class="error" id="error" th:unless=${message==null}>
		<span th:text="${message}"></span>
	</div>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Place a reservation</h3>
				</div>
				<div>
					<span th:inline="text">Restaurant: <a href="">[[${establishment.title}]]</a></span>
				</div>
				<div>
					<span>Please place reservations with a minimum of 2 hours
						notice</span>
				</div>

				<div class="card-body">
					<form role="form" th:action="@{/booking/save}" th:method="post"
						th:object="${booking}" id="bookingForm">

						<input type="hidden" name="establishment"
							th:field="*{establishment}">
						<ul>
							<li th:each="err : ${#fields.errors('establishment')}"
								th:text="${err}" />
						</ul>
						<input type="hidden" name="actor" th:field="*{actor}">
						<ul>
							<li th:each="err : ${#fields.errors('actor')}" th:text="${err}" />
						</ul>
						<input type="hidden" name="placementDate"
							th:field="*{placementDate}">
						<ul>
							<li th:each="err : ${#fields.errors('placementDate')}"
								th:text="${err}" />
						</ul>

						<!-- RESERVATION DATE -->
						<div class="input-group form-group">
							<span>Reservation date</span> <input id="fechaBooking"
								type="datetime-local" min="" max="2021-01-01"
								class="form-control" placeholder="Reservation date"
								name="reservationDate" required th:field="*{reservationDate}">
							<ul>
								<li th:each="err : ${#fields.errors('reservationDate')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- Esto es para que no puedas reservar en una fecha más antigua que la del dia actual,
						y como maximo puedes reservar con 30 dias de adelanto -->
						<script>
				var fechaHoy = new Date();
				var anio = fechaHoy.getFullYear();
				var mes = fechaHoy.getMonth() + 1; 
				var dia = fechaHoy.getDate();
				var minuts = fechaHoy.getMinutes();
				var hora = fechaHoy.getHours();
				var mes2 = fechaHoy.getMonth() +2;


				if (dia == 31){
					var maximo = anio + "-" + mes2 + "-" + dia -1;
				}else if (dia <10){
					var dia = "0"+dia;
				}

				var minimo = anio + "-" + "0"+mes + "-" + dia + "T" + hora + ":" + minuts +":00";
				var maximo = anio + "-" + "0"+mes2 + "-" + dia+"T00:00:00";

				console.log(maximo);
				console.log(minimo);
				document.getElementById("fechaBooking").setAttribute("min", minimo);
				document.getElementById("fechaBooking").setAttribute("max", maximo);
				</script>

						<!-- SEATING -->
						<div class="input-group form-group">
							<span>Seating</span> <input type="number" class="form-control"
								placeholder="1" name="seating" min="2" th:field="*{seating}">
							<ul>
								<li th:each="err : ${#fields.errors('seating')}"
									th:text="${err}" />
							</ul>
						</div>

						<!-- CONTACT -->
						<div class="input-group form-group">
							<span>Contact number</span> <input type="tel"
								class="form-control" placeholder="contactPhone"
								name="contactcontactPhone" pattern="[0-9]{9}" th:field="*{contactPhone}">
							<ul>
								<li th:each="err : ${#fields.errors('contactPhone')}"
									th:text="${err}" />
							</ul>
						</div>

						<!-- NOTES -->
						<div class="input-group form-group">
							<span>Notes</span>
							<textarea class="form-control" name="notes" rows="8" cols="3"
								th:field="*{notes}" form="bookingForm" maxlength="50"></textarea>
							<ul>
								<li th:each="err : ${#fields.errors('notes')}" th:text="${err}" />
							</ul>
						</div>

						<div class="form-group">
							<input type="submit" value="Book now"
								class="btn float-right login_btn">
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>