<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<head>
<th:block th:include="fragments/common :: head(title='Location')"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div>
							<a th:href="@{/admin/employees/key/manager}"> Create manager
								key </a>
						</div>
						<div>
							<a th:href="@{/admin/employees/key/cook}"> Create cook key </a>
						</div>
						<div>
							<a th:href="@{/admin/employees/key/waiter}"> Create waiter
								key </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>